[Desktop Entry]
Type=Application
Name=OSRFramework
Categories=X-FOsint;
Exec=/usr/share/sherlock-menu/exec-in-shell "osrf -h"
Icon=~/_installed/sherlock/iconos/osint-sherlocklinux.png
Terminal=true
