[Desktop Entry]
Type=Application
Name=TorBot
Categories=X-FOsint;
Exec=/usr/share/sherlock-menu/exec-in-shell "torbot -h"
Icon=~/_installed/sherlock/iconos/osint-sherlocklinux.png
Terminal=true
