[Desktop Entry]
Type=Application
Name=Yacy
Categories=X-Browsers;
Exec=/usr/share/sherlock-menu/exec-in-shell "startYACY"
Icon=~/_installed/sherlock/iconos/osint-yacy.png
Terminal=true
