[Desktop Entry]
Type=Application
Name=Metagoofil
Categories=X-Varios;
Exec=/usr/share/sherlock-menu/exec-in-shell "metagoofil -h"
Icon=~/_installed/sherlock/iconos/osint-sherlocklinux.png
Terminal=true
